.experience {
    position: relative;
    background-color: white;
    padding-top: 20px;
    scroll-margin-top: 70px;
    padding-bottom: 20px;

    h4 {
        color: #0a192f;
        font-size: 2rem;
        font-weight: 600;
        position: relative;
        padding-left: 80px;
        margin-left: 30px;
        margin-bottom: 20px;

        &:after {
            content: "";
            width: 50px;
            border-bottom: 5px solid #e31b6d;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            position: absolute;
            left: 0;
            transform: translateY(-50%);
            top: 50%;
        }


    }

    .wrapper {
        padding: 10px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;

        .exp1 {
            max-width: 500px;
            div:nth-child(1) {
                display: flex;
                gap: 30px;
                padding: 20px;
                align-items: center;
                justify-content: center;
                margin-bottom: 40px;
                img {
                    height: 50px;
                }
                h2{
                    font-size: 22px;
                    font-weight: 700;
                    position: relative;
                    &::before{
                        content: "";
                        height: 70px;
                        width: 3px;
                        background-color: #e31b6d;
                        position: absolute;
                        left: -15px;
                        top: -10px;
                    }
                }

            }
            .content{
                ul{
                    li{
                        padding-top: 5px;
                    }
                }
                h3{
                    font-size: 18px;
                    font-weight: 500;
                    color: rgba(0,0,0,0.7);
                    text-align: center;
                }
                span{
                    color: black;
                    font-size: 20px;
                }
                h5{
                    font-size: 17px;
                    font-weight: 400;
                    margin-top: 30px;
                }
            }
        }
    }
}













    @media screen and (min-width:900px) {

        .experience {
            height: 100vh;
            padding-top: 9vh;


        }


    }