
.hero-right,.about-right{
 margin: auto;
 position: relative;
 z-index: 2;
}

.main .hero span{
    font-size: 0.9rem;
    color: white;
    line-height: 3rem;
}

.main .hero h1{
    color:#e31b6d;
    font-size: 2rem;
    font-weight: 600;

}
.main .hero h2{
    color:#8892b0;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 2.5rem;
}

.main .hero .hero-left p{
    line-height: 1.7;
    font-size: 1rem;
    color: #8892b0;
    margin-top: 15px;
    font-family: "Roboto", sans-serif;

    // width: 80vw;
}
.hero-right img,.about-right img{
   display: none;
}
.hero-right .image-box,.about-right .image-box{
    border: 3px solid #e31b6d;
    height: 400px;
    width: 230px;
    position: absolute;
    z-index: -1;
    border-radius: 10px;
    left: -30px;
    top:-20px;
    display: none;
}
.hero-img-show,.about-img-show{
    font-size: 2rem;
    color: white;
    position: absolute;
    right: 40px;
    cursor: pointer;
}

