.works {
    overflow: auto;
    h2{
        color: white;
        font-size: 2rem;
        font-weight: 600;
        position: relative;
        padding-left: 80px;
        &:after{
        content: "";
        width: 50px;
        border-bottom: 5px solid #e31b6d;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        position: absolute;
        left: 0;
        transform: translateY(-50%);
        top: 50%;
        } 
    }

}




table{
    margin-top: 30px;
    border-collapse: collapse;
    font-size: 0.9rem;
    tr{
        color: white;
        cursor: pointer;
        th{
            padding: 5px;
            width: 500px;
        }
        th:first-of-type{
            width: 100px;
        }
        th:nth-child(3){
            width: 700px;

        }
        th:nth-child(5){
            width: 200px;
            display: none;
        }
        th:nth-child(4),td:nth-child(4){
            display: none;

        }
        th:last-of-type{
            width: 200px;
        }
        td{
            padding: 5px;
            text-align: center;
        }
        td:first-of-type{
            color: #e31b6d;
        }
        td:nth-child(3){
            text-align: left;
            
        }
        td:nth-child(5){
            display: none;
            

        }
        td:last-of-type{
            i{
                font-size: 0.9rem;
                padding: 2px;
                &:hover{
                    color: #e31b6d;
                }
            }
        }
        &:hover{
        }
    }
}


@media screen and ( min-width:576px) {
   
  table{
    margin-top: 30px;
    border-collapse: collapse;
    font-size: 1rem;
    tr{
        color: white;
        cursor: pointer;
        th{
            padding: 20px;
            width: 500px;
        }
        th:first-of-type{
            width: 100px;
        }
        th:nth-child(3){
            width: 700px;

        }
        th:nth-child(4),td:nth-child(4){
            display: table-cell ;

        }
        th:nth-child(5){
            width: 100px;
            display: block;
        }
        th:last-of-type{
            width: 200px;
        }
        td{
            padding: 10px;
            text-align: center;
        }
        td:nth-child(5){
            display: block;
            margin-top: 5px;

        }
        td:first-of-type{
            color: #e31b6d;
        }
        td:nth-child(3){
            text-align: left;
            
        }
        td:last-of-type{
            i{
                font-size: 1.3rem;
                padding: 5px;
            }
        }
        &:hover{
            background-color: #153d79;
        }
    }
}
    
    
    
    
    
}



@media screen and ( min-width:992px) {
    
  
 
   
    
}

